<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>
<body>
  <h1>Users List</h1>
  {% if messages %}
  <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <ul>
    {% for user in users %}
    <li>ID: {{ user.id }}, Name: {{ user.name }}, Email: {{ user.email }}
    <a href="{{ url_for('users_edit', email=user.email|urlencode) }}">Edit user</a>
      <form id="deleteForm-{{ user.id }}" action="{{ url_for('user_delete', id=user.id) }}" method="post" style="display: inline;">
        <a href="#"
           onclick="if(confirm('Are you sure you want to delete user? This action cannot be undone.')) { document.getElementById('deleteForm-{{ user.id }}').submit(); } return false;">
            Delete
        </a>
      </form>
    </li>
    {% else %}
    <li>Not user found</li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('create_user') }}">Add new user</a><br>
  <a href="{{ url_for('find_user') }}">Find user</a>
</body>
</html>